<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Patients</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/pagecontent.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/navbaretc.css' %}">
</head>

<body>
    <div id="page-container">
        <header>
            <div class="imgbrand"><img style="margin-left: 50px;" width="8%" height="8%" src="{% static 'admin/img/regx.png' %}"></div>
            <nav class="navbar">
                <a href='http://127.0.0.1:8000/home' class="left-nav">Home</a>
                <a href='http://127.0.0.1:8000/about' class="left-nav">About</a>
                <div id="current-page-link"><a href='http://127.0.0.1:8000/manage' class="left-nav">Manage Patients</a></div>
                <a href='http://127.0.0.1:8000/prescribe' class="left-nav">Prescribe Medication</a>
                <a href='http://127.0.0.1:8000/help' class="left-nav">Help</a>
                <div class="dropdown">
                    <a href='#' class="dropbtn">{{ username }}</a>
                    <div class="dropdown-content">
                        <a href="http://127.0.0.1:8000/account">Account</a>
                        <a href="http://127.0.0.1:8000">Sign Out</a>
                    </div>
                </div>
            </nav>
        </header>
        <main style="background-image: url({% static 'admin/img/bgdoctor.png' %}); height: 800px;"><!-- height: 100% works lovely for pages with more content than can fit on screen at one time. for pages with less content than that though, we need to find a better solution then assigning a static height, eg 800px-->
            
                <div id="subnav">
                    <h3>Manage Patients</h2>
                </div>
                <div id="pagecontent">
                <div>
                    <h2>Add Patient</h2>
                    <form action="/add-patient" method="post">
                        {% csrf_token %}
                        <label for="patient-username">Patient Username: </label>
                        <input id="patient-username" type="text" name="patient-username">
                        <input type="submit" value="Add">
                    </form>
                </div>
                <div>
                    <h2>Remove Patient</h2>
                    <form action="/remove-patient" method="post">
                        {% csrf_token %}
                        <label for="remove-patient">Choose Patient: </label>
                        <select id="remove-patient" name="remove-patient">
                            {% for patient in patients %}
                            <option value={{ patient }}>{{ patient }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Remove">
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="imgbrand"><img src="{% static 'admin/img/synergy.png' %}"></div>
            <div class="text">Copyright &copy; Team 5 2021</div>
        </footer>
    </div>
</body>

</html>