/* Navbaretc: Styling file for navbar, pre-navbar, footer, and such */

#title {
    padding-left: 55px;
}

body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    overflow: hidden;
    width: 100%;
    background-color: #006857;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

#current-page-link a{
    background-color: #7283da;
}
#current-page-link a:hover{
    background-color: #454f80;
}

.left-nav {
    float: left;
}
.dropdown {
    float: right;
    overflow: hidden;
    background-color: inherit;
}

.navbar a:hover {
    background-color: #01463a;
    color: #f4f4f4;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.spacer {
    margin-top: 5px;
    margin-bottom: 5px;
}
.spacer > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}

.spacer4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.spacer4 > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 24%;
    text-align: center;
}

.spacer5 {
}
.spacer5 > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 19%;
    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #006857;
}

.footer .text {
    position: relative;
    top: 50%;
    transform: translateY(-130%);
    text-align: center;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 96.44px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #01463a;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media(max-width: 500px) {
    #inter {
        display:none;
    }
    .navbar {
        display:flex;
    }
    .navbar a {
        flex-grow:1;
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer {
        display:none;
    }
}