/* Pagecontent: Styling file generally for anything underneath the navbar and above the footer */
#subnav {
    font-family: 'Trebuchet MS';
    margin-left: 10%;
    margin-right: 70%;
    color: dimgrey;
    border-bottom: 3px solid dimgrey;
    margin-bottom:40px;
    margin-top:30px;
  }

#pagecontent {
    margin-left: 5%;
    padding-bottom: 80px;
    /* Footer height + 8px */
}