<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/subnav.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/navbaretc.css' %}">
</head>

<body>
    <header>
        <h2 id="title">Drug Regimen</h2>
        <nav class="navbar">
            <a href='http://127.0.0.1:8000/home' class="left-nav">Home</a>
            <a href='http://127.0.0.1:8000/about' class="left-nav">About</a>
            <a href='http://127.0.0.1:8000/help' class="left-nav">Help</a>
            <div class="dropdown">
                <a href='#' class="dropbtn">{{ username }}</a>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/account">Account</a>
                    <a href="http://127.0.0.1:8000">Sign Out</a>
                </div>
            </div>
        </nav>
    </header>
    <main><div id="pagecontent">
        <div id="subnav">
            <h3>Patient Account</h2>
            <h3>Your Doctors:</h3>
                <ul>
                {% for doctor in doctors %}
                <form action="/remove-doctor" method="post">
                    {% csrf_token %}
                        <li>{{ doctor }} <input type="submit" name = {{ doctor }} value="Remove"></li>
                </form>
                {% endfor %}
                </ul>
            <h3>Doctors Pending Approval:</h3>
                <ul>
                {% for doctor in pendingDoctors %}
                <form action="/approve-doctor" method="post">
                    {% csrf_token %}
                        <li>{{ doctor }}</li>
                    <input type="submit" name = {{ doctor }} value="Approve">
                </form>
                {% endfor %}
                </ul>
        </div>
    </div></main>
    <footer class="footer">
        <div class="imgbrand"><img src="{% static 'admin/img/synergy.png' %}"></div>
        <div class="text">Copyright &copy; Team 5 2021</div>
</footer>
</body>

</html>